@font-face
{
	font-family: zilla slab;
	src: url("../font/zillaslab.otf");
}
body
{
    background-color: transparent;
    color: black;
}
#popup-content
{
    width: 200px;
    margin:-4px;
	background-color:transparent;
	border: 1px solid transparent;
}
#contribuisci
{
	position:relative;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
	height:100px;
	width:200px;
}
.speak, .listen
{
    cursor: pointer;
    border: 0px solid black;
    transition: 0.7s;
	position:absolute;
	top:15px;
	left:15px;
    display: inline-block;
    width: 0;
	height: 0;
	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 25px;
	padding-right: 45px;
	border-radius: 50%;	
	box-shadow:-5px 0px 20px rgba(255,79,94,0.7), 5px 0px 20px rgba(113,90,255,0.7);
	opacity:0.9;
}
.listen
{
	left:115px;
	padding-top: 25px;
	padding-bottom: 45px;
	padding-left: 27px;
	padding-right: 43px;
	box-shadow:-5px 0px 20px rgba(113,90,255,0.7), 5px 0px 20px rgba(89,203,183,0.7);
}
.speak:hover
{
    background-color: rgba(255,79,94,.9);
}
.listen:hover
{
    background-color: rgba(89,203,183,0.9);
}
#speak-button, #listen-button
{
	transition: 0.7s;
}

#language
{
	position: relative;
	width: 100%;
	background-color: transparent;
}
.language
{
	margin: 2px;
	width: 196px;
	padding: 8px;
	background-color: white;
	border:2px solid rgba(240, 240, 240, 1);
	color: rgba(89,89,89,1.00);
	font-family: zilla slab;
	font-size: 18px;
	font-weight: bold;
	transition: 0.5s;
	text-transform: uppercase;
	text-align: left;
	padding-left:30px;
	background-image: url("./world.png");
	background-repeat: no-repeat;
	background-position: 8px center;
	background-size: 18px 18px;
}
.language:hover
{
	background-color: rgba(240, 240, 240, 1);
}
